html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

#name {
    text-align: center;
}

h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    max-width: 100%;
    height:50%;
    display: block;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

figure {
    margin: 20px 20px;
    border: 3px solid #444;
    background-color:transparent;
    border-radius: 30px;
    padding: 10px;
    
}

figure img {
    width: 100%;
    height: 100%;
    margin: 0px;
    aspect-ratio: 1 / 1;
}

figcaption {
    text-align: center;
    margin: 10px;
    padding: 8px;
    font-weight: bold;
}  

@media screen and (min-width: 772px) {

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

   figure {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
    }

    figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(255, 31, 31);
        color: rgb(255, 255, 255);
        padding: 20px 0;
        margin-left: -1px;
        text-align: center;
    }

    .grid-container figure:last-child {
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 992px) {

    .grid-container figure:nth-child(3n) {
        grid-column: 1 / span 2;
    }

    figure {
        border-radius: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


@media (prefers-color-scheme: dark) {

    body {
        background-color: #111111;
        color: #ff3c3c;
    }

    figure {
        background-color: 000;
        color: #ff3c3c;
        border: 2px solid #ff0000;
        border-radius: 30px;
    }

    #top {
        color:#dedede;
    }

    #name {
        color:#dedede;
    }
    
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 10px;

}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}